.gradle
build/
cscope.*
.classpath
.project
.svn
target/
bin/
*/bin/
*.iml
.settings/
out/
.DS_Store
test-output
*.log
*.patch
*.log.gz
*.code-workspace
.idea/*.xml
.idea/libraries/
.idea/dictionaries/
.idea/codeStyles/
.idea/.name
# Local config to handle using Java 8 vs java 11.
.java-version
helm/Chart.lock
helm/charts
*.tgz
