[submodule "span-normalizer"]
	path = span-normalizer
	url = https://github.com/hypertrace/span-normalizer.git
	branch = main
[submodule "raw-spans-grouper"]
	path = raw-spans-grouper
	url = https://github.com/hypertrace/raw-spans-grouper.git
	branch = main
[submodule "hypertrace-trace-enricher"]
	path = hypertrace-trace-enricher
	url = https://github.com/hypertrace/hypertrace-trace-enricher.git
	branch = main
