{{- if eq .Values.chartType "application" }}
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.name }}
  labels:
    release: {{ .Release.Name }}
  {{- with .Values.deploymentLabels }}
  {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  clusterIP: None
  ports:
    - name: admin-port
      port: {{ .Values.containerAdminPort }}
  selector:
    {{- toYaml .Values.serviceSelectorMatchLabels | nindent 4 }}
{{- end }}