apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.rawSpansGrouperConfig.name }}
  labels:
    release: {{ .Release.Name }}
data:
  application.conf: |-
    kafka.streams.config = {
      # Core configs
      application.id = raw-spans-to-structured-traces-grouping-job
      bootstrap.servers = "{{ .Values.rawSpansGrouperConfig.kafkaStreamsConfig.bootstrapServers }}"
      schema.registry.url = "{{ .Values.rawSpansGrouperConfig.kafkaStreamsConfig.schemaRegistryUrl }}"
      value.subject.name.strategy = "io.confluent.kafka.serializers.subject.TopicRecordNameStrategy"
      # Core configs - For applications with state
      num.stream.threads = "{{ int .Values.rawSpansGrouperConfig.kafkaStreamsConfig.numStreamThreads }}"
      commit.interval.ms = "{{ int .Values.rawSpansGrouperConfig.kafkaStreamsConfig.commitIntervalMs }}"
      group.instance.id = ${?POD_NAME}
      cache.max.bytes.buffering = "{{ int .Values.rawSpansGrouperConfig.kafkaStreamsConfig.cacheMaxBytesBuffering }}"
      # Common client (prodcuer, consumer, admin) configs
      receive.buffer.bytes = "{{ int .Values.rawSpansGrouperConfig.kafkaStreamsConfig.receiveBufferBytes }}"
      send.buffer.bytes = "{{ int .Values.rawSpansGrouperConfig.kafkaStreamsConfig.sendBufferBytes }}"
      # Producer configs
      producer.acks = "{{ .Values.rawSpansGrouperConfig.kafkaStreamsConfig.producerAcks }}"
      producer.batch.size = "{{ int .Values.rawSpansGrouperConfig.kafkaStreamsConfig.producerBatchSize }}"
      producer.linger.ms = "{{ int .Values.rawSpansGrouperConfig.kafkaStreamsConfig.producerLingerMs }}"
      producer.compression.type = "{{ .Values.rawSpansGrouperConfig.kafkaStreamsConfig.producerCompressionType }}"
      producer.max.request.size = "{{ int .Values.rawSpansGrouperConfig.kafkaStreamsConfig.producerMaxRequestSize }}"
      producer.buffer.memory = "{{ int .Values.rawSpansGrouperConfig.kafkaStreamsConfig.producerBufferMemory }}"
      # Consumer configs
      consumer.max.partition.fetch.bytes = "{{ int .Values.rawSpansGrouperConfig.kafkaStreamsConfig.consumerMaxPartitionFetchBytes }}"
      consumer.max.poll.records = "{{ int .Values.rawSpansGrouperConfig.kafkaStreamsConfig.consumerMaxPollRecords }}"
      consumer.session.timeout.ms = "{{ int .Values.rawSpansGrouperConfig.kafkaStreamsConfig.consumerSessionTimeoutMs }}"
      # Changelog topic configs
      replication.factor = "{{ int .Values.rawSpansGrouperConfig.kafkaStreamsConfig.replicationFactor }}"
      topic.cleanup.policy = "delete,compact"
      # RocksDB state store configs
      state.dir = "{{ .Values.rawSpansGrouperConfig.kafkaStreamsConfig.stateDir }}"
      rocksdb.cache.total.capacity: "{{ int .Values.rawSpansGrouperConfig.kafkaStreamsConfig.rocksdbCacheTotalCapacity }}"
      rocksdb.cache.write.buffers.ratio: "{{ .Values.rawSpansGrouperConfig.kafkaStreamsConfig.rocksdbCacheWriteBuffersRatio }}"
      rocksdb.cache.high.priority.pool.ratio: "{{ .Values.rawSpansGrouperConfig.kafkaStreamsConfig.rocksdbCacheHighPriorityPoolRatio }}"
      rocksdb.write.buffer.size = {{ int .Values.rawSpansGrouperConfig.kafkaStreamsConfig.rocksdbWriteBufferSize }}
      rocksdb.max.write.buffers = {{ int .Values.rawSpansGrouperConfig.kafkaStreamsConfig.rocksdbMaxWriteBuffers }}
      rocksdb.cache.index.and.filter.blocks = {{ .Values.rawSpansGrouperConfig.kafkaStreamsConfig.rocksdbCacheIndexAndFilterBlocks }}
      # Exception handler configs
      default.production.exception.handler = {{ .Values.rawSpansGrouperConfig.kafkaStreamsConfig.defaultProductionExceptionHandler }}
      ignore.production.exception.classes = {{ .Values.rawSpansGrouperConfig.kafkaStreamsConfig.ignoreProductionExceptionClasses }}
      # Others
      metrics.recording.level = "{{ .Values.rawSpansGrouperConfig.kafkaStreamsConfig.metricsRecordingLevel }}"
      {{- if .Values.rawSpansGrouperConfig.extraKafkaStreamsConfig }}
      {{- range $key,$value := .Values.rawSpansGrouperConfig.extraKafkaStreamsConfig }}
      {{ $key }} = {{ $value }}
      {{- end }}
      {{- end }}
    }

    group.partitioner = {
      enabled = {{ .Values.rawSpansGrouperConfig.groupPartitionerEnabled }}
      service.host = {{ .Values.rawSpansGrouperConfig.groupPartitionerConfigServiceHost }}
      service.port = {{ .Values.rawSpansGrouperConfig.groupPartitionerConfigServicePort }}
    }

    span.groupby.session.window.interval = {{ .Values.rawSpansGrouperConfig.span.groupby.internal }}

    {{- if hasKey .Values.rawSpansGrouperConfig "defaultMaxSpanCount" }}
    default.max.span.count = {{ .Values.rawSpansGrouperConfig.defaultMaxSpanCount }}
    {{- end }}

    {{- if hasKey .Values.rawSpansGrouperConfig "maxSpanCount" }}
    max.span.count = {
    {{- range $k, $v := .Values.rawSpansGrouperConfig.maxSpanCount }}
      {{ $k }} = {{ int $v }}
    {{- end }}
    }
    {{- end }}

    {{- if hasKey .Values.rawSpansGrouperConfig "metrics" }}
    metrics {
      reporter {
        names = {{- toJson .Values.rawSpansGrouperConfig.metrics.reporter.names | trim | nindent 12 }}
      }
    }
    {{- end }}
    
    {{- if hasKey .Values.rawSpansGrouperConfig "traceEmitCallbackRegistry" }}
    trace.emit.callback.registry {
      frequency = {{ .Values.rawSpansGrouperConfig.traceEmitCallbackRegistry.frequency }}
      yield = {{ .Values.rawSpansGrouperConfig.traceEmitCallbackRegistry.yield }}
      window = {{ .Values.rawSpansGrouperConfig.traceEmitCallbackRegistry.window }}
    }
    {{- end }}
