name: e2e test
on:
  push:
    branches:
      - main
    paths-ignore:
      - '**/*.md'
    # TODO: commented for purpose of testing wf changes, undo
#  pull_request_target:
#    branches:
#      - main
  # workflow_dispatch will let us manually trigger the workflow from GitHub actions dashboard.
  # See https://docs.github.com/en/free-pro-team@latest/actions/managing-workflow-runs/manually-running-a-workflow 
  workflow_dispatch:

jobs:
  build-and-test-with-mongo:
      # Ubuntu-22.04 runner comes with docker 19.03 and OpenJDK 11 and we are using that here.
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}
          fetch-depth: 0
          submodules: recursive

      - name: Build with Gradle
        uses: hypertrace/github-actions/gradle@main
        with: 
          args: dockerBuildImages

      - name: Verify hypertrace image
        working-directory: ./.github/workflows/hypertrace-ingester
        # Below tests a docker-compose.yml service named 'sut' with a valid HEALTHCHECK instruction:
        run: |
          docker-compose -f docker-compose.yml -f docker-compose-zipkin-example.yml up -d || { ./scripts/inspect.sh docker-compose.yml docker-compose-zipkin-example.yml ; exit 1 ; }

      - name: Waits for some stability
        working-directory: ./.github/workflows/hypertrace-ingester
        run: |
          sleep 60 # you can decrease it but never increase it
          docker-compose -f docker-compose.yml ps
          ./scripts/inspect.sh docker-compose.yml docker-compose-zipkin-example.yml
          
      - name: Runs tests
        working-directory: ./.github/workflows/hypertrace-ingester/scripts
        run: ./tests.sh

  build-and-test-with-postgres:
        # Ubuntu-22.04 runner comes with docker 19.03 and OpenJDK 11 and we are using that here.
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}
          fetch-depth: 0
          submodules: recursive

      - name: Build with Gradle
        uses: hypertrace/github-actions/gradle@main
        with: 
          args: dockerBuildImages

      - name: Verify hypertrace image
        working-directory: ./.github/workflows/hypertrace-ingester
        # Below tests a docker-compose.yml service named 'sut' with a valid HEALTHCHECK instruction:
        run: |
          docker-compose -f postgres/docker-compose.yml -f docker-compose-zipkin-example.yml up -d || { ./scripts/inspect.sh docker-compose.yml docker-compose-zipkin-example.yml ; exit 1 ; }

      - name: Waits for some stability
        working-directory: ./.github/workflows/hypertrace-ingester
        run: |
          sleep 60 # you can decrease it but never increase it
          docker-compose -f postgres/docker-compose.yml ps
          ./scripts/inspect.sh docker-compose.yml docker-compose-zipkin-example.yml
          
      - name: Runs tests
        working-directory: ./.github/workflows/hypertrace-ingester/scripts
        run: ./tests.sh
